.show_product {
    .card-header {
        h1 {
            @media (max-width: 991px) {
                font-size: 20px;
            }
        }
    }
    img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }
    .owl-stage {
        margin: auto;
    }
    @import "./inc/dot_env";
}
