.show_product {
    .card-header {
        h1 {
            @media (max-width: 991px) {
                font-size: 20px;
            }
        }
    }
    .photos {
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }
    .barcode {
        width: 250px;
        height: 60px;
        @media(max-width: 991px) {
            &.main {
                width: 100%;
            }
            margin-bottom: 10px;
        }
    }
    .owl-stage {
        margin: auto;
    }
    @import "./inc/dot_env";
}
